:root {
  --background: #171717;
  --foreground: #f2f2f2;
  --foreground-dark: #bebebe;
  --primary: #157525;
  --primary-light: #21ad38;
  --secondary: #00b0ff;
  --background-container: #232323;
}

* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: 1px solid var(--foreground);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 5rem 2rem;

  &-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;

    .text-primary {
      color: var(--primary);
    }
  }

  &-subtitle {
    font-size: 1.2rem;
    color: var(--foreground-dark);
    max-width: 600px;
    margin: 0 auto 2rem;
  }

  &-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

/* Buttons */
.button-primary,
.button-secondary {
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-primary {
  background-color: var(--primary);
  color: var(--foreground);
  border: none;

  &:hover {
    background-color: var(--primary-light);
  }
}

.button-secondary {
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid #d1d5db;
  background-color: var(--background-container);

  &:hover {
    border-color: var(--primary-light);
  }
}

/* Features Section */
.features {
  background: var(--background-container);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 100%;
  padding: 4rem 8rem;


  &-item {
    padding: 2rem;
    border-radius: 12px;
    text-align: center;

    svg {
      width: 40px;
      height: 40px;
    }

    .icon-container {
      background: var(--background-container);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin: 0 auto 1rem;
      font-size: 16px;
    }

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .description {
      color: var(--foreground-dark);
      font-size: 1rem;
    }
  }
}

/* Benefits Section */
.benefits {
  width: 100%;
  padding: 4rem 8rem;

  &-container {
    max-width: 100%;
    margin: 0 auto;
  }

  &-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 100%;
    padding: 0 2rem;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;



    svg {
      width: 40px;
      height: 40px;
    }

    .icon-container {
      padding: 8px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .info {
      .title {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .description {
        font-size: 1rem;
        color: var(--foreground-dark);
      }
    }
  }
}

/* Icons */
.icon {
  width: 24px;
  height: 24px;
  color: var(--primary-light);
}